
.table-container{
    overflow: scroll;
}

table {
    width: 100%;
    min-width: 60em;
}

table .mat-form-field{
    width: 98%;
    font-size: 12px;
}

.command-column{
    min-width: 13.5em;
    width: 13.5em;
}

.mat-row:nth-child(even){
    background-color: #f8f9fa;
}

table td {
    font-size: 13px;
}

table.entity-table button.btn {
    font-size: smaller;
    margin-right: 2px;
    height: 2.5em;
}

.btn {
    margin-right: 10px;
}

.new-customer-btn{
    height: 2.7em;
    width: 100%;
}

.action-customer-btn {
    width: 48.5%;
}